In [1]:
import pandas as pd
import numpy as np

In [3]:
df2 = pd.read_csv('DATA/btc-market-price.csv')

In [4]:
df2

     2017-04-02 00:00:00  1099.169125
0    2017-04-03 00:00:00  1141.813000
1    2017-04-04 00:00:00  1141.600363
2    2017-04-05 00:00:00  1133.079314
3    2017-04-06 00:00:00  1196.307937
4    2017-04-07 00:00:00  1190.454250
..                   ...          ...
359  2018-03-28 00:00:00  7960.380000
360  2018-03-29 00:00:00  7172.280000
361  2018-03-30 00:00:00  6882.531667
362  2018-03-31 00:00:00  6935.480000
363  2018-04-01 00:00:00  6794.105000

[364 rows x 2 columns]

In [8]:
pd.isnull(3)

False

In [9]:
pd.notnull(7)

True